body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

@media screen and (min-width: 980px) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "header main"
      "footer main";
  }
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}
